/*Header*/
.title{
    font-size: 24px;
    font-weight: normal;
}
span{
    background: -webkit-linear-gradient(25deg ,#9845E8, #33D2FF, #DD5789);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*Principal*/
.principal{
    padding-top: 154px;
}
.subtitle-main{
    font-size: 16px;
}
.title-main{
    font-size: 96px;
    background: -webkit-linear-gradient(20deg ,#9845E8, #33D2FF, #DD5789);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Projetos*/
.container-icons{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.subtitle-this{
    padding-top: 184px;
    font-size: 20px;
}
.paragraph{
    color: #C4C4C4;
    padding-top: 12px;
}
.title-container{
    font-size: 24px;
}
.title-container{
    font-size: 24px;
    padding-top: 31px;
    font-weight: normal;
}
.projects-container{
    padding-top: 51px;
    gap: 57px;
    display: flex;
}
.project{
    width: 48%;
}
.text-blue{
    color: #6CACE4;
    padding-top: 10px;
}

/*certificação*/
.subtitle-ce{
    font-size: 20px;
    padding: 80px 0 40px;
}
.container-certificacao button{
    padding: 10px;
    transition: 1s;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.container-certificacao button:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: rgb(128, 126, 126);
    border-left: 1px solid white;
}
.container-certificacao{
    border-left: 1px solid #4e4e4e;
    height: 100%;
}
.certificacao{
    display: flex;
}
.content-contact{
    display: flex;
    gap: 50px;
    padding-top: 100px;
    justify-content: center;
    transition: 1s;
}
.content-contact a:hover{
    transition: 1s;
    background: white;
    color: black;
}