*{
    padding: 0;
    margin: 0;
    font-family: gt;
    scroll-behavior: smooth;
    
}
@font-face {
    font-family: gt;
    src: url(../font/GTWalsheimProRegular.ttf);
}
:root{
    --ondas: url(../img/ondas.svg);
    --background: #201F1F;
    --projeto01: url(../img/projeto01.PNG);
    --projeto02: url(../img/projeto02.PNG);
    --projeto03: url(../img/projeto03.PNG);
    --projeto04: url(../img/projeto04.PNG);
    --projeto05: url(../img/projeto05.PNG);
    --projeto06: url(../img/projeto06.PNG);
}
h1,h2{
    color: #FFFFFF;
}
.line{
    border: 1px solid #4e4e4e;
    display: flex;
    margin-top: 100px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
}
ul{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
a:hover{
    transition: 1s;
    text-decoration: underline;
}
.space{
    padding: 41px 181px;
}
body{
    background-color: #201F1F;
    cursor:  url(../img/icons/Arrow_Down.cur), default;
}
body:-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid white;
}

/*Projetos*/

.projeto01{
    content: var(--projeto01);
    width: 100%;
}
.projeto02{
    content: var(--projeto02);
    width: 100%;
}
.projeto03{
    content: var(--projeto03);
    width: 100%;
}
.projeto04{
    content: var(--projeto04);
    width: 100%;
}
.projeto05{
    content: var(--projeto05);
    width: 100%;
}
.projeto06{
    content: var(--projeto06);
    width: 100%;
}
.curso02{
    padding-top: 100px;
}
.dev{
    display: none;
    padding-left: 100px;
    width: 100%;
}
.unip{
    display: none;
    padding-left: 100px;
    width: 100%;
}
.video{
    display: none;
    padding-left: 100px;
    width: 100%;
}
.fundacao{
    display: none;
    padding-left: 100px;
    width: 100%;
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-colors{
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    background: transparent;
    border-style: solid;
    font-size: 20px;
}
.content-contact a{
    text-decoration: none;
}